<template>
  <div class="item" v-bind:class="{ativo: mensagemAtiva}">    
    <div class="title is-flex is-align-items-center"><img :src="fotoDoUsuario" alt="foto1"> <span> {{nomeDoUsuario}}</span> </div>
    <div class="subtitle is-6">{{ultimaMensagem}}</div>
  </div>
</template>

<script>
export default {
  name: 'ItemDaListaDeConversa',
  props:['fotoDoUsuario','nomeDoUsuario','ultimaMensagem','mensagemAtiva'],
  
}
</script>

<style scoped>
  .subtitle{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: gray;
  }
  .item{
      border-bottom: 1px solid #F2F2F2;
      padding: 5px;
      margin-bottom: 0 !important;
  }
  .item:hover{
      background: #F5F5F5;
      cursor: pointer;
  }
  .item.ativo{
    background: rgb(235, 235, 235);
  }
  img {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }
</style>